{% extends 'base.html' %}

{% block title %}Authors{% endblock title %}

{% block content %}
{% load static %}
    <div style = "text-align: center;">
        <font size = 7 face="Comic Sans MS">
            Сотрудники кафедры информатики ИСПНИИДХИ
        </font>
    </div>

    <div style="display: table; margin: auto">
        <img src="{% static 'kek.png' %}" width="300" style="margin: 80px">
        <img src="{% static 'vat.png' %}" width="300" style="margin: 80px">
        <img src="{% static 'piro.png' %}" width="300" style="margin: 80px">
    </div>
    <div style="display: table; margin: auto">
        <a style="margin: 110px">
            <font size = 5 face="Comic Sans MS">
                Кузьмин Василий
            </font>
        </a>
        <a style="margin: 110px">
            <font size = 5 face="Comic Sans MS">
                Виноградов Василий
            </font>
        </a>
        <a style="margin: 110px">
            <font size = 5 face="Comic Sans MS">
                Поликарпов Андрей
            </font>
        </a>
    </div>
    <div style="margin: 30px">
        <div style="display: table; margin: auto">
            <font size = 3 face="Comic Sans MS" style="margin: 200px; font-style: italic;">
                Цент
            </font>
            <font size = 3 face="Comic Sans MS" style="margin: 200px; font-style: italic;">
                Процент
            </font>
            <font size = 3 face="Comic Sans MS" style="margin: 200px; font-style: italic;">
                Доцент
            </font>
        </div>
    </div>
{% endblock content %}