{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Untitled
        {% endblock title %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
</head>
<body>
    <header>
        <div class="container">
            <div style="background: url('{% static 'background.jpg' %}') no-repeat; background-size: 100%; height: 230px;" height=230>
                <div style="float:left; margin: 45px 10px;">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'logo.png' %}" height=130>
                    </a>
                </div>
                <div style="float: right; margin: 10px; display: flex; gap: 10px; font-size: 20px;">
                    <a class="button" href="{% url 'index' %}">
                        ABOBA1
                    </a>
                    <a class="button" href="{% url 'index' %}">
                        ABOBA2
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </header>
    <div class="container">
    {% block content %}
    
    {% endblock content %}
    </div>
    <footer>
        <div class="container">
            <hr>
            <div align="center">
                Хочу передать спасибо моим маме и папе, что помогли мне сделать этот сайт!
            </div>
        </div>
    </footer>
</body>