{% extends 'base.html' %}

{% block title %}Rock{% endblock title %}

{% block content %}
{% load static %}
    <div style="display: table; margin: auto">
        <img src="{% static 'rock.gif' %}" width="400">
    </div>
    <div style = "text-align: center;">
        <font size = 7 face="Comic Sans MS">
            Приличные ругательства
        </font>
    </div>
    <div style = "margin-top: 40px">
        <font size = 5 face="Comic Sans MS">
            В данном разделе представлены те ругательства, которые мы считаем достаточно приличными, чтобы заменять ими обычные.
        </font>
    </div>
    <div style = "margin-top: 40px; font-size: 20px">

            <ul>
            <li style="font-size: 20px; margin-top: 10px;">Черт</li>
            <li style="font-size: 20px; margin-top: 10px;">Ё-моё</li>
            <li style="font-size: 20px; margin-top: 10px;">Зараза</li>
            <li style="font-size: 20px; margin-top: 10px;">Негодяй</li>
            <li style="font-size: 20px; margin-top: 10px;">Какая досада!</li>
            <li style="font-size: 20px; margin-top: 10px;">Идите к черту!</li>
            <li style="font-size: 20px; margin-top: 10px;">Гром и молния!</li>
            <li style="font-size: 20px; margin-top: 10px;">Разрази меня гром!</li>
            <li style="font-size: 20px; margin-top: 10px;">Три тысячи чертей!</li>
            <li style="font-size: 20px; margin-top: 10px;">Я вам в отцы гожусь!</li>
            <li style="font-size: 20px; margin-top: 10px;">Вы потеряли рассудок?</li>
            <li style="font-size: 20px; margin-top: 10px;">Хьюстон, у нас проблемы</li>
            <li style="font-size: 20px; margin-top: 10px;">Греметь тебе вечность якорями!</li>
            <li style="font-size: 20px; margin-top: 10px;">Сэр…(протяжно, с покачиванием головы)</li>
            <li style="font-size: 20px; margin-top: 10px;">Я не ожидал такого вопиющего поведения от Вас</li>
            <li style="font-size: 20px; margin-top: 10px;">Чтоб проклятый осьминог скушал всю твою пиццу!</li>
            </ul>
    </div>
{% endblock content %}