{% extends 'base.html' %}

{% block title %}Wiki{% endblock title %}

{% block content %}
{% load static %}
    <div style = "text-align: center;">
        <font size = 7 face="Comic Sans MS">
            Термины
        </font>
    </div>

    <div style="margin-top:30px;">
        <font size = 5 face="Comic Sans MS">
            Табуизмы — это слова, выражения, звуки, ограниченные в использовании или запрещенные ввиду социальных или религиозных традиций в языке или определенном круге общения.
        </font>
    </div>

    <div style="margin-top:30px;">
        <font size = 5 face="Comic Sans MS">
            Матерные слова — это перечень нецензурных терминов, некоторые из которых могут нести в себе несколько значений, однако характерная черта всех ругательств заключается в том, чтобы заменить обычное слово на более острое для восприятия слушателя.
        </font>
    </div>

    <div style="margin-top:30px;">
        <font size = 5 face="Comic Sans MS">
            Типичным применением мата является речевая агрессия в направлении конкретного адресата, которого матерящийся хочет обругать или оскорбить. Зачастую мат употребляется людьми низкой культуры и в более нейтральных целях; матерная лексика при этом десемантизируется, то есть говорящий не имеет цели оскорбления кого-либо.
        </font>
    </div>

    <div style="margin-top:30px;">
        <font size = 5 face="Comic Sans MS">
            Согласно Кодексам об административных правонарушениях русскоязычных стран, а именно России (статья 20.1), Казахстана (статья 330), Белоруссии (статья 156) и Киргизии (статья 364), публичное употребление мата может расцениваться как мелкое хулиганство, наказываемое штрафом или административным арестом. Согласно специальному кодексу ИСПНИИДХИ использование мата карается смертной казнью.
        </font>
    </div>

{% endblock content %}